/* .btn{

    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} */

.btn, button.btn {

    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    border: none;
    padding: 17px 38px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;

}

.btn-rounded{

    /*border-radius: 50px;*/
    display:block;
    height: 50px;
    width: 25px;
    border-radius: 50px!important;
    border: 1px solid red;

    text-align: center;

}

.btn-small {
    font-size: 14px;
    padding: 10px 14px;
    min-width: 100px;
    margin: 10px;
}

.btn-primary{

    background-color: var(--purple-color); 

}

.btn-secondary{

    background-color: var(--marine-color); 
    font-weight: 300;

}

.btn-light{

    background-color: var(--light-color);

}

.btn:hover{

    background-color: var(--marine-color);
    color: white;

}

.btn-pink{

    background-color: var(--pink-color); 

}

.btn-white{

    background-color: white;
    color: #01123C;

}

.btn-orange{

    background-color: #ffaa00;
    color: #01123C;
}

.btn-white{

    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.btn-white:hover{

    color: var(--marine-color);
    background-color: white;
}


button.accordion-button:focus{

    outline: none !important;
    box-shadow: none;

}


.accordion-button:not(.collapsed){

    background-color: transparent;

}

.accordion-item:last-of-type .accordion-collapse{

    border: none;

}


.btn.delete-visual,
.btn.delete-mobile {
    font-size: 14px;
    padding: 10px 20px;

    margin-bottom: 20px;

}

.btn-circle {

    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;

    text-decoration: none;
  }


.btn-my-light{

    background-color: transparent;
    border: 1px solid var(--marine-color);
    color: var(--marine-color);

    border-radius: 7px;
    font-weight: 500;

    padding: 15px 20px!important;

}

.my-badge{

    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0);
    color: white;
    padding: 7px 10px;
    border-radius: 6px;
    margin: 12px 7px 7px;
    font-size: 15px;
    display: inline-block;

}

.my-badge.category{

    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);

}

.my-badge.keyword{

    margin-right: 4px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.my-badge i{

    margin-right: 5px;


}